In [1]:
from bs4 import BeautifulSoup
import urllib2
web='http://www.sports-reference.com/olympics/summer/'
req = urllib2.Request(web)
page = urllib2.urlopen(req)
soup = BeautifulSoup(page, "lxml")
table = soup.find("div", { "id" : "div_Summer" })

In [2]:
cells=[]
for row in table.findAll("tr"):
    result = row.findAll("td")
    if len(result) == 9:
        dic = {}
        dic["Year"] = result[0].get_text()
        dic["City"] = result[1].get_text()
        dic["Country"] = result[2].get_text()
        dic["Countries"] = result[3].get_text()
        dic["Participants"] = result[4].get_text()
        dic["Men"] = result[5].get_text()
        dic["Women"] = result[6].get_text()
        dic["Sports"] = result[7].get_text()
        dic["Events"] = result[5].get_text()
        cells.append(dic)
import pandas as pd
import numpy as np
data=pd.DataFrame(cells)

                City Countries        Country Events    Men Participants  \
0             London       205  Great Britain  5,864  5,864       10,519
1            Beijing       204          China  6,290  6,290       10,901
2             Athina       201         Greece  6,257  6,257       10,561
3             Sydney       200      Australia  6,579  6,579       10,648
4            Atlanta       197  United States  6,819  6,819       10,342
5          Barcelona       169          Spain  6,659  6,659        9,386
6              Seoul       159    South Korea  6,249  6,249        8,453
7        Los Angeles       140  United States  5,224  5,224        6,799
8             Moskva        80   Soviet Union  4,135  4,135        5,259
9           Montréal        92         Canada  4,812  4,812        6,073
10           München       121   West Germany  6,052  6,052        7,113
11  Ciudad de México       112         Mexico  4,775  4,775        5,558
12             Tokyo        93          Japan  4,457  4,457        5,137
13              Roma        83          Italy  4,738  4,738        5,351
14         Melbourne        67      Australia  2,818  2,818        3,189
15          Helsinki        69        Finland  4,411  4,411        4,932
16            London        59  Great Britain  3,951  3,951        4,397
17            Berlin        49        Germany  4,124  4,124        4,484
18       Los Angeles        47  United States  1,719  1,719        1,921
19         Amsterdam        46    Netherlands  2,936  2,936        3,248
20             Paris        45         France  3,100  3,100        3,256
21         Antwerpen        29        Belgium  2,599  2,599        2,677
22         Stockholm        29         Sweden  2,356  2,356        2,424
23            London        22  Great Britain  1,980  1,980        2,024
24            Athina        21         Greece    835    835          841
25         St. Louis        15  United States    644    644          650
26             Paris        31         France  1,201  1,201        1,224
27            Athina        12         Greece    176    176          176

   Sports  Women  Year
0      32  4,655  2012
1      34  4,611  2008
2      34  4,304  2004
3      34  4,068  2000
4      31  3,520  1996
5      29  2,721  1992
6      27  2,202  1988
7      26  1,567  1984
8      23  1,123  1980
9      23  1,260  1976
10     23  1,060  1972
11     20    783  1968
12     21    680  1964
13     19    613  1960
14     18    371  1956
15     19    521  1952
16     21    445  1948
17     24    360  1936
18     18    202  1932
19     17    312  1928
20     20    156  1924
21     25     78  1920
22     17     53  1912
23     24     44  1908
24     13      6  1906
25     18      6  1904
26     20     23  1900
27      9      0  1896

In [3]:
data.to_csv(r'event.txt', header=True, index=None, sep=',', mode='a', encoding='utf-8')