In [40]:
import pandas as pd
import numpy as np

Port_202_1 = pd.read_csv('97202_1.csv')
Port_202_2 = pd.read_csv('97202_2.csv')
Port_202_3 = pd.read_csv('97202_3.csv')
Port_202 = pd.concat([Port_202_1,Port_202_2,Port_202_3], axis = 0)
Port_202['zipcode'] = 97202

In [2]:
print len(Port_202)
print '*'*20
print Port_202.head(1)

1478
********************
   beds $sqft  location                            address     price  baths  \
0   3.0  $282  Portland  3613 SE Rhine StListed by: Redfin  $510,000    2.5

    sqft     days  zipcode
0  1,804  30 days    97202

In [3]:
Port_206_1 = pd.read_csv('97206_1.csv')
Port_206_2 = pd.read_csv('97206_2.csv')
Port_206 = pd.concat([Port_206_1,Port_206_2], axis = 0)
Port_206['zipcode'] = 97206
print len(Port_206)
print '*'*20
print Port_206.head(1)

1000
********************
   beds $sqft  location                            address     price  baths  \
0   2.0  $262  Portland  3417 SE 66th AveListed by: Redfin  $312,000    1.0

    sqft      days  zipcode
0  1,188  485 days    97206

In [4]:
Port_212_1 = pd.read_csv('97212_1.csv')
Port_212_2 = pd.read_csv('97212_2.csv')
Port_212 = pd.concat([Port_212_1,Port_212_2], axis = 0)
Port_212['zipcode'] = 97212
print len(Port_212)
print '*'*20
print Port_212.head(1)

1000
********************
   beds $sqft location                                           address  \
0   2.0  $283    SABIN  3526 NE 12th AveListed by: RedfinSold by: Redfin

      price  baths   sqft      days  zipcode
0  $413,000    1.0  1,455  107 days    97212

In [5]:
Port_214_1 = pd.read_csv('97214_1.csv')
Port_214_2 = pd.read_csv('97214_2.csv')
Port_214 = pd.concat([Port_214_1,Port_214_2], axis = 0)
Port_214['zipcode'] = 97214
print len(Port_214)
print '*'*20
print Port_214.head(1)

1000
********************
   beds $sqft  location                          address     price  baths  \
0   5.0  $215  Portland  1334 SE Ash StListed by: Redfin  $643,000    3.5

    sqft      days  zipcode
0  2,982  845 days    97214

In [6]:
Port_217_1 = pd.read_csv('97217_1.csv')
Port_217_2 = pd.read_csv('97217_2.csv')
Port_217_3 = pd.read_csv('97217_3.csv')
Port_217 = pd.concat([Port_217_1,Port_217_2,Port_217_3], axis = 0)
Port_217['zipcode'] = 97217 
print len(Port_217)
print '*'*20
print Port_217.head(1)

1472
********************
   beds $sqft                     location                        address  \
0   2.0  $165  HAYDEN ISLAND/JANTZEN BEACH  12034 N Jantzen Beach Ave #49

      price  baths   sqft    days  zipcode
0  $185,000    1.5  1,120  2 days    97217

In [7]:
Port_219_1 = pd.read_csv('97219_1.csv')
Port_219_2 = pd.read_csv('97219_2.csv')
Port_219_3 = pd.read_csv('97219_3.csv')
Port_219_4 = pd.read_csv('97219_4.csv')
Port_219 = pd.concat([Port_219_1,Port_219_2,Port_219_3,Port_219_4], axis = 0)
Port_219['zipcode'] = 97219 
print len(Port_219)
print '*'*20
print Port_219.head(1)

2000
********************
   beds $sqft  location                           address     price  baths  \
0   4.0  $177  Portland  6905 SW 4th AveListed by: Redfin  $515,000    3.0

    sqft     days  zipcode
0  2,896  46 days    97219

In [8]:
Port_220_1 = pd.read_csv('97220_1.csv')
Port_220_2 = pd.read_csv('97220_2.csv')

Port_220 = pd.concat([Port_220_1,Port_220_2], axis = 0)
Port_220['zipcode'] = 97220 
print len(Port_219)
print '*'*20
print Port_220.head(1)

2000
********************
   beds $sqft  location                                           address  \
0   4.0  $166  Portland  906 NE 117th AveListed by: RedfinSold by: Redfin

      price  baths   sqft      days  zipcode
0  $257,000    1.0  1,546  281 days    97220

In [9]:
Port_232 = pd.read_csv('97232.csv')

Port_232['zipcode'] = 97232 
print len(Port_232)
print '*'*20
print Port_232.head(1)

453
********************
   beds $sqft                 location                   address     price  \
0   1.0  $383  Sixteen-Twenty Broadway  1620 NE Broadway St #414  $371,000

   baths sqft     days  zipcode
0    1.5  968  15 days    97232

In [10]:
Port_233_1 = pd.read_csv('97233_1.csv')
Port_233_2 = pd.read_csv('97233_2.csv')
Port_233 = pd.concat([Port_233_1,Port_233_2], axis = 0)
Port_233['zipcode'] = 97233 
print len(Port_233)
print '*'*20
print Port_233.head(1)

1000
********************
   beds $sqft location           address       price  baths    sqft days  \
0   NaN   $79      NaN  801 SE 190th Ave  $1,015,000   17.0  12,800  NaN

   zipcode
0    97233

In [11]:
Port_229_1 = pd.read_csv('97229_1.csv')
Port_229_2 = pd.read_csv('97229_2.csv')
Port_229 = pd.concat([Port_229_1,Port_229_2], axis = 0)
Port_229['zipcode'] = 97229 
print len(Port_229)
print '*'*20
print Port_229.head(1)

1000
********************
   beds $sqft location            address     price  baths   sqft days  \
0   3.0  $164      NaN  3768 NW Unrath Pl  $360,174    3.0  2,190  NaN

   zipcode
0    97229

In [12]:
print len(Port)
print Port.head(1)

NameError: name 'Port' is not defined

In [13]:
vanc_661_1 = pd.read_csv('98661_1.csv')
vanc_661_2 = pd.read_csv('98661_2.csv')
vanc_661_3 = pd.read_csv('98661_3.csv')
vanc_661_4 = pd.read_csv('98661_4.csv')
vanc_661 = pd.concat([vanc_661_1,vanc_661_2,vanc_661_3,vanc_661_4], axis = 0)
vanc_661['zipcode'] = 98661 
print len(vanc_661)
print vanc_661.head(1)

1935
   beds $sqft   location        address     price  baths   sqft    days  \
0   3.0  $115  Vancouver  2515 E 8th St  $154,400    1.0  1,340  18 hrs

   zipcode
0    98661

In [14]:
vanc_661_1 = pd.read_csv('98661_1.csv')
vanc_661_2 = pd.read_csv('98661_2.csv')
vanc_661_3 = pd.read_csv('98661_3.csv')
vanc_661_4 = pd.read_csv('98661_4.csv')
vanc_661 = pd.concat([vanc_661_1,vanc_661_2,vanc_661_3,vanc_661_4], axis = 0)
vanc_661['zipcode'] = 98661 
print len(vanc_661)
print vanc_661.head(1)

1935
   beds $sqft   location        address     price  baths   sqft    days  \
0   3.0  $115  Vancouver  2515 E 8th St  $154,400    1.0  1,340  18 hrs

   zipcode
0    98661

In [15]:
vanc_663_1 = pd.read_csv('98663_1.csv')
vanc_663_2 = pd.read_csv('98663_2.csv')

vanc_663 = pd.concat([vanc_663_1,vanc_663_2], axis = 0)
vanc_663['zipcode'] = 98663 
print len(vanc_663)
print vanc_663.head(1)

992
   beds $sqft location           address     price  baths   sqft days  zipcode
0   4.0  $136      NaN  2600 NE 50th Cir  $297,796    2.5  2,178  NaN    98663

In [16]:
vanc_664_1 = pd.read_csv('98664_1.csv')
vanc_664_2 = pd.read_csv('98664_2.csv')

vanc_664 = pd.concat([vanc_664_1,vanc_664_2], axis = 0)
vanc_664['zipcode'] = 98664 
print len(vanc_664)
print vanc_664.head(1)

1000
   beds $sqft         location            address     price  baths   sqft  \
0   4.0  $117  Norwood Meadows  11304 SE Nancy Rd  $395,000    2.5  3,364

     days  zipcode
0  3 days    98664

In [17]:
vanc_665_1 = pd.read_csv('98665_1.csv')
vanc_665_2 = pd.read_csv('98665_2.csv')
vanc_665_3 = pd.read_csv('98665_3.csv')
vanc_665_4 = pd.read_csv('98665_4.csv')
vanc_665 = pd.concat([vanc_665_1,vanc_665_2,vanc_665_3,vanc_665_4], axis = 0)
vanc_665['zipcode'] = 98665 
print len(vanc_665)
print vanc_665.head(1)

1944
   beds $sqft           location      address     price  baths   sqft    days  \
0   3.0  $138  Cindy's Park View  Undisclosed  $245,000    2.5  1,772  8 days

   zipcode
0    98665

In [18]:
vanc_682_1 = pd.read_csv('98682_1.csv')
vanc_682_2 = pd.read_csv('98682_2.csv')
vanc_682_3 = pd.read_csv('98682_3.csv')
vanc_682_4 = pd.read_csv('98682_4.csv')
vanc_682_5 = pd.read_csv('98682_5.csv')
vanc_682 = pd.concat([vanc_682_1,vanc_682_2,vanc_682_3,vanc_682_4,vanc_682_5], axis = 0)
vanc_682['zipcode'] = 98682 
print len(vanc_682)
print vanc_682.head(1)

2414
   beds $sqft   location            address     price  baths   sqft    days  \
0   3.0  $124  Vancouver  11135 NE 43rd Cir  $214,000    2.5  1,723  4 days

   zipcode
0    98682

In [19]:
vanc_683_1 = pd.read_csv('98683_1.csv')
vanc_683_2 = pd.read_csv('98683_2.csv')
vanc_683_3 = pd.read_csv('98683_3.csv')
vanc_683_4 = pd.read_csv('98683_4.csv')

vanc_683 = pd.concat([vanc_683_1,vanc_683_2,vanc_683_3,vanc_683_4], axis = 0)
vanc_683['zipcode'] = 98683 
print len(vanc_683)
print vanc_683.head(1)

1898
   beds $sqft      location            address     price  baths   sqft  \
0   4.0  $179  Clearmeadows  18617 SE 24th Cir  $380,000    2.5  2,119

     days  zipcode
0  3 days    98683

In [20]:
vanc_684_1 = pd.read_csv('98684_1.csv')
vanc_684_2 = pd.read_csv('98684_2.csv')

vanc_684 = pd.concat([vanc_684_1,vanc_684_2], axis = 0)
vanc_684['zipcode'] = 98684 
print len(vanc_684)
print vanc_684.head(1)

986
   beds $sqft   location            address     price  baths   sqft    days  \
0   4.0  $148  Vancouver  2408 NE 165th Ave  $330,000    2.5  2,222  17 hrs

   zipcode
0    98684

In [21]:
vanc_685_1 = pd.read_csv('98685_1.csv')
vanc_685_2 = pd.read_csv('98685_2.csv')
vanc_685_3 = pd.read_csv('98685_3.csv')

vanc_685 = pd.concat([vanc_685_1,vanc_685_2,vanc_685_3], axis = 0)
vanc_685['zipcode'] = 98685 
print len(vanc_685)
print vanc_685.values[300]

1500
[4.0 '$135' 'Whipple Creek' '314 NW 150th Way' '$310,000' 2.5 '2,287'
 '405 days' 98685]

In [22]:
vanc_686_1 = pd.read_csv('98686_1.csv')
vanc_686_2 = pd.read_csv('98686_2.csv')


vanc_686 = pd.concat([vanc_686_1,vanc_686_2], axis = 0)
vanc_686['zipcode'] = 98686 
print len(vanc_686)
print vanc_686.values[300]

906
[3.0 '$198' 'Sherwood Place' '4308 NE 101st St' '$282,875' 2.0 '1,427'
 '263 days' 98686]

In [23]:
camas_e = pd.read_csv('Camas_E.csv')
camas_n = pd.read_csv('Camas_N.csv')
camas_ne = pd.read_csv('Camas_NE.csv')
camas_s = pd.read_csv('Camas_S.csv')
camas_w = pd.read_csv('Camas_W.csv')
camas = pd.concat([camas_e,camas_n,camas_ne,camas_s,camas_w], axis = 0).dropna(axis=0, how='any')
camas['zipcode'] = 98607

In [24]:
Port = pd.concat([Port_202,Port_206,Port_212,Port_214,Port_217,Port_219,Port_220,Port_229,Port_232,Port_233], \
                 axis = 0).dropna(axis=0, how='any')

In [25]:
Vanc = pd.concat([vanc_661,vanc_663,vanc_664,vanc_665,vanc_682,vanc_683,vanc_684,vanc_685,vanc_686, camas],\
                 axis=0).dropna(axis=0, how='any')

In [26]:
school_rating = pd.read_csv('school.csv')

In [27]:
port_house = pd.concat([Port,Vanc],axis=0)
port_area = pd.merge(port_house,school_rating,how ='outer', on= 'zipcode').dropna(axis=0, how='any')
print len(port_area)

23099

In [28]:
port_area['price'] = port_area['price'].str.lstrip('$')
port_area['$sqft'] = port_area['$sqft'].str.lstrip('$')
port_area['days'] = port_area['days'].str.rstrip('days')
port_area['address'] = port_area['address'].str.rstrip('Sold by: Redfin')
port_area['price'] = port_area['price'].str.replace(',','')
port_area['sqft'] = port_area['sqft'].str.replace(',','')
#port_area
print map(lambda col: port_area[col].dtype, port_area)
print type(port_area)

[dtype('float64'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('float64'), dtype('O'), dtype('O'), dtype('int64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('O')]
<class 'pandas.core.frame.DataFrame'>

In [29]:
port_area['price'] = pd.to_numeric(port_area['price'], errors='coerce')
port_area['$sqft'] = pd.to_numeric(port_area['$sqft'], errors='coerce')
port_area['sqft'] = pd.to_numeric(port_area['sqft'], errors='coerce')

In [48]:
from datetime import datetime, timedelta, date
#import time
#from datetime import date
port_area['days'] = pd.to_numeric(port_area['days'], errors='coerce')

#print port_area['days']
d0 = date(2016, 8, 11)
print d0
#n = port_area['days'][0]
#print type(n)
#date_N_days_ago = d0 - timedelta(days=n)

port_area = port_area.dropna(axis=0, how='any')

port_area['sold_date']= map(lambda x: d0-timedelta(days=x), port_area['days'])

2016-08-11

In [50]:
print port_area.head(5)

   beds  $sqft           location                  address     price  baths  \
0   3.0  282.0           Portland     3613 SE Rhine StList  510000.0    2.5
1   3.0  466.0   Clinton-Division  2109 SE Tibbetts StList  450000.0    1.0
2   3.0  262.0           Portland     3617 SE Rhine StList  480000.0    2.5
3   2.0  263.0  Hosford-Abernathy      2124 SE Ivon StList  578000.0    2.5
4   3.0  247.0           Portland     2821 SE 22nd AveList  412000.0    2.5

   sqft   days  zipcode  elementary_rating  middle_rating  high_rating  \
0  1804   30.0    97202                9.0            9.5          6.0
1   964   51.0    97202                9.0            9.5          6.0
2  1829  176.0    97202                9.0            9.5          6.0
3  2192  353.0    97202                9.0            9.5          6.0
4  1666  662.0    97202                9.0            9.5          6.0

          city   sold_date
0  Portland OR  2016-07-12
1  Portland OR  2016-06-21
2  Portland OR  2016-02-17
3  Portland OR  2015-08-24
4  Portland OR  2014-10-19

In [51]:
port_area.to_csv('port_area_house.csv')

In [184]:
from datetime import datetime, timedelta

N = 2

date_N_days_ago = d0 - timedelta(days=N)

print datetime.now()
print date_N_days_ago

2016-08-13 19:04:38.304563
2016-08-09

In [ ]:
from datetime import datetime, timedelta

N = 2

date_N_days_ago = datetime.now() - timedelta(days=N)

print datetime.now()
print date_N_days_ago